<div class="mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px;">

    <!--filter Організація-->
    <mat-form-field appearance="fill">
      <mat-label>Організація</mat-label>
      <mat-select [(value)]="filterOptions.org" (selectionChange)="applyFilter()">
        <mat-option>--Усі--</mat-option>
        <mat-option [value]="org" *ngFor="let org of availableOrganizations">{{ org }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--filter Департамент-->
    <mat-form-field appearance="fill">
      <mat-label>Департамент</mat-label>
      <mat-select [(value)]="filterOptions.department" (selectionChange)="applyFilter()">
        <mat-option>--Усі--</mat-option>
        <mat-option [value]="department" *ngFor="let department of availableDepartments">{{ department }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--filter Контрагент-->
    <mat-form-field appearance="fill">
      <mat-label>Контрагент</mat-label>
      <mat-select [(value)]="filterOptions.contragent" (selectionChange)="applyFilter()">
        <mat-option>--Усі--</mat-option>
        <mat-option [value]="contragent" *ngFor="let contragent of availableContragents">{{ contragent }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--filter Пошук-->
    <mat-form-field appearance="standard">
      <fa-icon matPrefix style="color: black" [icon]="faSearch" style="padding: 0 0.5em;"></fa-icon>
      <mat-label>Пошук</mat-label>
      <input matInput [value]="searchInput" (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <table mat-table [dataSource]="dataSource" matSort matSortDirection="asc">

    <!-- Транспортний засіб -->
    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Транспортний засіб</th>
      <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
    </ng-container>

    <!-- Організація -->
    <ng-container matColumnDef="org">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Організація</th>
      <td mat-cell *matCellDef="let element"> {{element.org}} </td>
    </ng-container>

    <!-- Департамент -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Департамент</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.department">
          {{ element.department }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Контрагент -->
    <ng-container matColumnDef="contragent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Контрагент</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.contragent">
          {{ element.contragent }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Код -->
    <ng-container matColumnDef="code1c">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Код</th>
      <td mat-cell *matCellDef="let element"> {{element.code1c}} </td>
    </ng-container>

    <!-- Причіп -->
    <ng-container matColumnDef="aggregate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Причіп</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.aggregate">
          {{ element.aggregate }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Водії -->
    <ng-container matColumnDef="drivers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Водії</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.drivers">
          {{element.drivers}}
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">"{{filterString}}" не знайдено</td>
    </tr>
  </table>

</div>
